<div class="row">
     <div class="col-xs-12 login_icon d-flex justify-content-center">
          <div id="g_id_onload"
               data-client_id="331665416413-6afhkod22d9d68uno88ebpvopsvohfb9.apps.googleusercontent.com"
               data-login_uri="https://us-central1-checklistbot-b9f66.cloudfunctions.net/signIn"
               data-auto_prompt="false">
          </div>
          <div class="g_id_signin"
               data-type="standard"
               data-size="large"
               data-theme="outline"
               data-text="sign_in_with"
               data-shape="rectangular"
               data-logo_alignment="left">
          </div>
     </div>
</div>
